---
import GithubIcon from "@components/Icons/Github.astro"
import Star from "@components/Icons/Star.astro"
import WebsiteIcon from "@components/Icons/Website.astro"

import type { GithubAPiRes } from "@/types"
import { twMerge } from "tailwind-merge"

export interface Props extends GithubAPiRes {
	/** Length to repo */
	reposLength?: number
	/** Index of the repo actually */
	repoIndex?: number
}

const { name, desc, page, html_url, stars, language, reposLength, repoIndex } = Astro.props

const isOdd = (num: number): true | false => {
	const op = num % 2
	return op === 0 ? true : op === 1 ? false : false
}

const addClassToRepoIsOdd = ({ i, length }: { i?: number; length?: number }) => {
	if (!i || !length) return ""
	if (isOdd(length)) return ""
	if (i > length || i < length) return ""
	return "grid-column-start: 1;grid-column-end: 3;"
}

const URL_BASE = new URL("/", Astro.url.origin)
const CLASS_LINKS =
	"hover:text-clay-300 text-center text-[10px] text-white duration-75 hover:cursor-pointer hover:text-[10px] [&>span>svg]:w-12 [&>span>svg:hover]:w-14 [&>span]:text-ce"
---

<section
	transition:name={name}
	transition:animate="slide"
	class="flex w-full flex-col items-center justify-center sm:gap-2"
	style={addClassToRepoIsOdd({
		i: repoIndex ? repoIndex + 1 : undefined,
		length: reposLength,
	})}
>
	<h4
		class="[&>span]:text-clay-400 text-center text-lg font-bold [&>span]:font-mono [&>span]:font-semibold"
	>
		<a href=`${URL_BASE}repo/${name}`>
			{name}
		</a>
		<br />
		<span>{language}</span>
	</h4>
	<p>{desc}</p>
	<div
		class={twMerge(
			"grid place-items-center h-20 w-full gap-2 *:transition-all *:ease-in-out sm:justify-around [&>a:hover]:mt-0 [&>a]:mt-4 [&>p:hover]:mt-0 [&>p]:mt-4",
			page ? "grid-cols-3" : "grid-cols-2"
		)}
	>
		<a
			href={String(html_url)}
			target="_blank"
			class={twMerge(CLASS_LINKS, "text-xs text-white hover:text-sm")}
		>
			<span class="fill-clay-300">
				<GithubIcon />
			</span>
			Github
		</a>
		{
			page && (
				<a href={String(page)} target="_blank" class={CLASS_LINKS}>
					<span class="fill-clay-400">
						<WebsiteIcon />
					</span>
					Page
				</a>
			)
		}
		<p class={CLASS_LINKS}>
			<span class="fill-clay-400 block w-12 hover:w-14"><Star class="aspect-square" /></span>
			{stars}
		</p>
	</div>
</section>
